.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
    box-sizing: border-box;
    transition: .5s;
    scroll-behavior: smooth;
}

[class*="col-"]{
      float: left;
}
:root{
    --menColor :#17a2b8;
    --womenColor :rgb(253 88 114);
    --childrenColorBtn:#cc00ff;
    --accessoires:rgb(182 196 61);
    --colorHeaderShadow:#e1e1e1;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
     /* ---------- header------------ */
     [class*="col-"] {
      width: 100%;
     }
     header nav .links {
        display: flex;
        justify-content: start;
     }
     .navbar .navbar-brand img{
        height: 31px;
     }
     /* ---------------------- */
     body section{
        margin-bottom: 180px;
     }
     section .bigDiv img {
        height: 520px;
    }
    section .bigDiv .carousel-caption img{
        height: 110px;
        top: -160px;
    }
    section .bigDiv .carousel-caption p{
        width: 147px;
        left: 0%;
        font-size: 32px;
    }
     .container.card .col-12 .col-sm-3.product{
        padding-top: 0px;
        padding-bottom: 0px;
     }
     
     div .promo{
        gap: 5px;
     }
     div .promo-text-for-men, div .promo-text-for-women,div .promo-text-for-children , div .promo-text-for-accessoires{
        font-size: 14px;
     }
     
     div div .fashion-div img{
        height: 200px;
     }
     .category-name h1.men-fashion-title,
     h1.women-fashion-.men-fashion-title,
     h1.children-fashion-title,
     h1.accessoires-fashion-title{
        font-size: 2.5vh;
     }

     /* -------------- product ------------ */
     div.product .card img{
        height: 290px;
    }
     /* ------------ footer -------------- */
     footer .footer{
        background-image: none;
     }
     footer .footer .col-12 .logo img{
        height: auto;
     }
     footer .footer .col-12 .logo p,
     footer .footer .col-12 .text{
        padding-left: 5px;
        font-size: 17px;
     }
     footer .footer .col-12 .footer-links ul{
        padding-left: 20px;
        padding-bottom: 20px;
     }
     footer .footer .col-12 .footer-links ul li {
        padding: 5px;
        font-size: 15px;
        text-decoration: underline;
     }
}
@media only screen and (min-width: 576px) and (max-width: 768px){
    div.product .card .btn-outline-info {
        width: 90%;
        font-size: 1.7vw;
    }
}
@media only screen and (max-width: 575px){
    .container.card div .left-side-button,
    .container.card div .right-side-button{
    display: none;
    }
}
@media only screen and (max-width: 290px){
    /* -------------- product ------------ */
    div.product .card img{
        height: 240px;
    }
}
@media only screen and (min-width: 576px) and (max-width:991px){
    div.category-name .container{
        padding: 0px;
        margin: 0px;
        width: 100% !important;
        min-width: 100%;
        max-width: 100% !important;
    }
    div.container{
        max-width: 95% !important;
    }
    div.product .card img {
        width: 100%;
        height: 157px;
    }
    div.new-div-circle,
    div .new-div-star{
        height: 25px;
        width: 25px;
        font-size: 9px;
    }
    li.star{
        font-size: 8px;
    }

}
/* ------------------- header -----------------  */
.navbar{
    box-shadow: inset 2px -2px 5px var(--colorHeaderShadow);
}
.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    padding-left: 20px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 15px;
}
.links{
    display: flex;
    justify-content: end;
}
.links ul li .dropdown-menu a{
    font-size: 16px;
}
.active{
    background-color: #eee;
    border-radius: 4px;
}
.nav-item{
    margin: 0px 5px;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}
/* -------------------------------------------------- */

/* ----------------- big div show ----------------*/
.bigDiv{
    position: relative;
}
.bigDiv img{
    height: 580px;
}
.bigDiv .carousel-caption img{
    height: 168px;
    position: relative;
    right: 40%;
    top: -110px;
}

.bigDiv .carousel-caption p{
    position: relative;
    top: -95px;
    width: 210px;
    text-align: center;
    left: 22%;
    color: white;
    text-shadow: none;
    font-size: 44px;
    font-weight: 700;
    text-transform: capitalize;
    font-style: italic;
}
/* -------------------------------- end header ------------------------------- */

section{
    overflow-x: hidden;
}

/* -------------------------------- static promo style ------------------------------- */
.promo{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px,1fr));
    gap: 15px;
}
.promo-text-for-men,
.promo-text-for-women,
.promo-text-for-accessoires,
.promo-text-for-children{
    text-transform: capitalize;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
    font-size: 22px;
    font-family: sans-serif;
    color: var(--menColor);
    background-color: #f0f8ff59;
    font-weight: 600;
    font-style: inherit;
    border-radius: 7px;
    box-shadow: 0px 0px 8px lightgray
}
.promo-text-for-women{
    color: var(--womenColor);
    background-color: #fafad25e;
}
.promo-text-for-children{
    color: var(--childrenColorBtn);
    background-color: #ffe2ff30;
}
.promo-text-for-accessoires{
    color: var(--accessoires);
    background-color: #ffe2ff30;
}
/* ---------- div images ----------*/
.fashion-div img{
    width: 100%;
    height: 340px;
    padding: 25px 0px;
    border-radius: 57px;
}
.container .col-12{
    margin: 0px;
    padding: 0px;
}
.category-name{
    display: flex;
    justify-content: center;
}
.men-fashion-title,
.women-fashion-title,
.children-fashion-title,
.accessoires-fashion-title{
    font-size: 23px;
    font-family: fangsong;
    font-weight: 600;
    color: var(--menColor);
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    background-color: var(--menColor);
    color: white;
    padding: 10px 20px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 20px;
    border: 1px solid var(--menColor);
    transition: 1s;
}
.women-fashion-title{
    background-color: var(--womenColor);
    border: 1px solid var(--womenColor);
}
.children-fashion-title{
    background-color: var(--childrenColorBtn);
    border: 1px solid var(--childrenColorBtn);
}
.accessoires-fashion-title{
    background-color: var(--accessoires);
    border: 1px solid var(--accessoires);
}
.men-fashion-title:hover,
.women-fashion-title:hover,
.children-fashion-title:hover,
.accessoires-fashion-title:hover{
    color: var(--menColor);
    background-color: white;
    border-radius: 7px;
}
.women-fashion-title:hover{
    color: var(--womenColor);
    border-color: var(--womenColor);
}
.children-fashion-title:hover{
    color: var(--childrenColorBtn);
    border-color: var(--childrenColorBtn);
}
.accessoires-fashion-title:hover{
    color: var(--accessoires);
    border-color: var(--accessoires);
}
/* -------------------------------------------------------------- */



/* ------------------------ product style ------------------------ */
.product{
    position: relative;
    padding: 15px 20px;
    margin-bottom: 20px;
    text-align: center;
}
.product .card{
    border-radius: 10px;
    margin-top: 10px;
}
.product .card:hover{
    box-shadow: 0px 0px 10px rgb(119, 126, 129);
    transform: scale(1.09);
}
.product .card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 239px;
}
.product .card .details{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 6px;
    text-transform: capitalize;
}

.star{
    color:gold;
    list-style: none;
    text-align: center;
    /* float: left; */
}

.product .card .btn-outline-info {
    width: fit-content;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
}
.product-btn-color{
    color: var(--linkBtnColor);
    background-color: white;
    border-color: var(--linkBtnColor);
}
.product-btn-color:hover{
    color: white;
    background-color: var(--linkBtnColor);
    border-color: transparent;
}

/* ------------ new div circle style ----------- */
.new-div-circle{
    position: absolute;
    top: 5px;
    right: 0;
    height: 40px;
    width: 40px;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-style: italic;
}

/* ------------ new div star style ----------- */
.new-div-star{
    position: absolute;
    border-radius: 0px;
    width: 30px;
    height: 29px;
    top: 7px;
    right: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color: white;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    z-index: 2;
    border: none;
}
.new-div-star::before,
.new-div-star::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.new-div-star::before{
    transform: rotate(45deg);
}
.new-div-star::before,
.new-div-star::after{
    background-color: var(--bgStarColor);
}
.product:hover .new-div-star::before{
    animation: starRotateBefore;
    animation-duration: 2s;
}
.product:hover .new-div-star::after{
    animation: starRotateAfter;
    animation-duration: 2s;
}
/* ------------------------------------------------------------ */


/* ---------------------- left right Btns ---------------------- */
.container.card{
    margin-top: 10px;
    position: relative;
    margin-bottom: 40px;
    border-color: rgb(246, 246, 246);
    /* border-color: transparent; */
}
.left-side-button,
.right-side-button{
    position: absolute;
    height: auto;
    border: none;
    left: -20px;
    top: calc(50% - 29px);
    font-size: 23px;
    font-weight: 700;
    color: white;
    padding: 11px 4px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: var(--sideBtnBgColor);
}
.right-side-button{
    left: calc(99% + 2px);
}
.left-side-button:hover,
.right-side-button:hover{
    color: #a8a8a8;
    background-color: #fff;
    border: 1px solid lightgray;
}
/* -------------------------------------------------------------- */


.animation-left{
    animation-name: getProductLeft;
    animation-duration: 1.5s;
}
.animation-right{
    animation-name: getProductRight;
    animation-duration: 1.5s;
}
@keyframes getProductLeft {
    from{transform: translateX(30px);}
    to{transform: translateX(0px);}
}
@keyframes getProductRight {
    from{transform: translateX(-30px);}
    to{transform: translateX(0px);}
}
@keyframes starRotateBefore {
    to{transform: rotate(405deg);}
}
@keyframes starRotateAfter {
    to{transform: rotate(360deg);}
}

/* ---------------------- footer ---------------------  */
.footer{
    position: relative;
    background-image: url(photos/1.jpg);
    background-size: 100%;
    height: 650px;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}
.footer .col-12{
    position: absolute;
    background-color: #40404080;
    padding: 15px 20px;
    padding-bottom: 70px;
    opacity: .9;
    box-shadow: 0px 0px 15px var(--colorHeaderShadow);
    border-radius: 15px;
    margin: 15px 2px;
    margin-bottom: 0px;
    box-sizing: border-box;
    width: calc(100% - 5px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0px;
}
.footer .col-12 .logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}
.footer .col-12 .logo img{
    height: 60px;
}
.footer .col-12 .footer-links ul {
    padding-top: 12px;
}
.footer .col-12 .footer-links ul li {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}
.footer .col-12 .text{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    color: white;
    word-spacing: 3px;
    line-height: 35px;
    padding-left: 40px;
}
.footer .col-12 .footer-links ul li a{
    color: white;
}


.hidden{
    display: none;
}




































































