*{
    box-sizing: border-box;

}
[class*="col-"] {
    float: left;
    padding: 3px;
  }
  :root{
    --menColor :#17a2b8;
    --womenColor :rgb(253 88 114);
    --childrenColorBtn:#cc00ff;
    --accessoires:rgb(182 196 61);
    --colorHeaderShadow:#e1e1e1;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
     /* ---------- header------------ */
     [class*="col-"] {
      width: 100%;
     }
     header nav .links {
        display: flex;
        justify-content: start;
     }
     .navbar .navbar-brand img{
        height: 31px;
     }
     /* ---------------------- */

     body .welcome-text{
        background-image: url(./photos/2.jpg);
        background-size: cover;
        padding-top: 210px;
     }
     body .welcome-text .p1{
        font-size: 7vw;
     }
     body .welcome-text .p2{
        font-size: 7vw;
     }

    div .footer{
        padding: 5px;
        margin-bottom: 300px;
    }
    div .footer a{
        display: block;
        justify-items: center;
        font-size: 15px;
        padding: 7px;
        margin-left: 0px;
    }
    footer .footer{
        background-image: none;
     }
     footer .footer .col-12 .logo img{
        height: auto;
     }
     footer .footer .col-12 .logo p,
     footer .footer .col-12 .text{
        padding-left: 5px;
        font-size: 17px;
     }
     footer .footer .col-12 .footer-links ul{
        padding-left: 20px;
        padding-bottom: 20px;
     }
     footer .footer .col-12 .footer-links ul li {
        padding: 5px;
        font-size: 15px;
        text-decoration: underline;
     }
}


/* ------------------- header -----------------  */
.navbar{
    box-shadow: inset 2px -2px 5px var(--colorHeaderShadow);
}
.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    padding-left: 20px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 15px;
}
.links{
    display: flex;
    justify-content: end;
}
.links ul li .dropdown-menu a{
    font-size: 16px;
}
.active{
    background-color: #eee;
    border-radius: 4px;
}
.nav-item{
    margin: 0px 5px;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}
/* -------------------------------------------------- */

.welcome-text{
    background-image: url(./photos/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
}
.div-text{
    width: 35%;
    padding-top: 150px;
}
.p1{
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 7px 7px 25px #6d6d6d;
}
.p2{
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 7px 7px 25px #6d6d6d;
}

.col-sm-3{
    float: left;
}
.col-sm-3 img{
    width: 100%;
    height: 310px;
    padding: 5px;
    border-radius: 15px;
}
.btnBuy{
    color: rgb(206, 51, 206);
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 10px;
    border: 1px solid rgb(206, 51, 206);
}
.btnBuy:hover{
    color: white;
    background-color: rgb(206, 51, 206);
}

/* ---------------------- footer ---------------------  */
.footer{
    position: relative;
    background-image: url(../photos/1.jpg);
    background-size: 100%;
    height: 650px;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    margin: 0pc;
    padding: 0pc;
}
.footer .col-12{
    position: absolute;
    background-color: #40404080;
    padding: 15px 20px;
    padding-bottom: 70px;
    opacity: .9;
    box-shadow: 0px 0px 15px var(--colorHeaderShadow);
    border-radius: 15px;
    margin: 15px 2px;
    margin-bottom: 0px;
    box-sizing: border-box;
    width: calc(100% - 5px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0px;
}
.footer .col-12 .logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}
.footer .col-12 .logo img{
    height: 60px;
    width: 65%;
}
.footer .col-12 .footer-links ul {
    padding-top: 12px;
}
.footer .col-12 .footer-links ul li {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}
.footer .col-12 .text{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    color: white;
    word-spacing: 3px;
    line-height: 35px;
    padding-left: 40px;
}
.footer .col-12 .footer-links ul li a{
    color: white;
}

